#color{
    color: yellow;
}

body{
    background-image: url(../public/css/pattern.jpg);
    margin: 0px;
}

header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin: 5px;
    padding: 5px;
    color:purple;
}

section{
    background-color: white;
    margin: 40px 260px 30px;
    padding: 20px;
    color: black
    ;
}

article{
    border-bottom: 4px solid black;
    margin: 20px;
    color: black;
}

footer{
    background-color: black;
    text-align: center;
    padding: 12px;
    color: white;
}

h1{
    text-align: center;
    color: black;
}